<div id="log-history">

  <div id="backToHome">
    <img src="/assets/left-arrow-svgrepo-com.svg" ui-sref="home" id="backHome">
  </div>

  <div id="log-history-title">
    <h2>Histórico de internação</h2>
  </div>

  <div id="log-container">
    <div id="log-history-search">
      <input type="text"
             id="log-search"
             placeholder="Filtrar por nome..."
             ng-model="vm.searchName"
             ng-change="vm.findPatientsByName()" />
    </div>

    <div id="log-tables">
      <div id="log-list">
        <table id="show-log-list">
          <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="patient in vm.patients">
            <td>{{ patient.id }}</td>
            <td>{{ patient.name }}</td>
            <td><button ng-click="vm.showPatientHistory(patient.id)">Exibir histórico</button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <table id="show-history">
        <thead>
          <tr>
            <th>Hospital</th>
            <th>Especialidade</th>
            <th>Quarto</th>
            <th>Internação</th>
            <th>Alta</th>
            <th>Internado durante</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!vm.patientHistoryLogs.length">
            <td>Paciente nunca internado!</td>
          </tr>

          <tr ng-repeat="history in vm.patientHistoryLogs">
            <td>{{ history.hospitalName }}</td>
            <td>{{ history.specialty }}</td>
            <td>{{ history.roomCode }}</td>
            <td>{{ history.admissionDate | date:'dd/MM/yyyy' }}</td>
            <td ng-if="history.dischargeDate">{{ history.dischargeDate | date:'dd/MM/yyyy' }}</td>
            <td ng-if="!history.dischargeDate">Internado</td>
            <td>{{ history.daysAdmitted > 0 ? history.daysAdmitted + ' dia(s)' : 'Apenas Consulta' }}</td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button ng-disabled="vm.historyPageNumber === 0"
                ng-click="vm.previousPage()">Anterior</button>

        <span>Página {{ vm.historyPageNumber + 1 }} de {{ vm.historyTotalPages }}</span>

        <button ng-disabled="vm.historyPageNumber >= vm.historyTotalPages - 1"
                ng-click="vm.nextPage()">Próximo</button>
      </div>
    </div>
  </div>
</div>